/* FONT */

@font-face {
    font-family: "Steppe";
    src: url('../assets/fonts/Steppe.ttf');
}

/* ОБНУЛЕНИЕ */
*{
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,h2, h3, h4, h5, h6{font-style: inherit; font-weight: 400;}


body{
    font-family: "Steppe";
    background-color: #FAFAFA;
    font-size: 16px;
    color: #1D1D1D;
}

._container{
    width: calc(100% - 400px);
    margin-left: auto;
    margin-right: auto;
}
