.inputNumber__input{
    width: 100%;
    border-radius: 15px;
    border: 1px solid #CCCCCC;
    padding-left: 28px;
    font-size: 20px;
    outline: none;
}

.inputNumber__input:focus{
    border: 1px solid #1D1D1D;
}